<!-- Featured Post -->
{{ $data := .siteData }}
{{ $no_dates := .no_dates }}
{{ range .firstpost }}

<article class="post featured">
    <header class="major">
        {{ if not ( or ( .Date.IsZero ) ( $no_dates ) ) }}
            <span class="date">{{ .Date.Format (.Site.Params.DateFormat | default "January 2, 2006") }}</span>
        {{ end }}
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <p>{{ .Description }}</p>
    </header>
    {{ if .Params.image }}
    <a href="{{ .RelPermalink }}" class="image main"><img src="{{ .Params.image | relURL }}" alt="" /></a>
    {{ end }}
    <ul class="actions">
        <li><a href="{{ .RelPermalink }}" class="button big">{{ $data.post.linktext }}</a></li>
    </ul>
</article>
{{ end }}
