/* Terms */

    ul {
        &.terms {
            column-count: 3;
            list-style: none;
            border-top: none !important;
            padding-top: 0 !important;
            column-gap: 0.5rem;
            flex-wrap: wrap;

            @include breakpoint('<=small') {
                column-count: 2;
            }

            @include breakpoint('<=xsmall') {
                column-count: 1;
            }

            li {
                padding: 0.5rem 0;
                // necessary to avoid every other column being slightly off
                display: inline-block;
                width: 100%;
            }
        }
    }

    .button {
        &.tag {
            padding: 0 1rem;
        }

        &.count {
            position: relative;
            width: 2rem;
            height: 2rem;
            line-height: 2rem;
            border-radius: 4rem;
            padding: 0;
            white-space: nowrap;
            margin-left: 0.5rem;
            pointer-events: none;
        }
    }

    // terms on a post
    #terms {
        padding: 0 4rem ;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-basis: 150px;
        flex-shrink: 0;
        column-gap: 0.5rem;

        > span {
           padding: 0.5rem 0;
        }
    }