{{- partial "htmlhead.html" . -}}
	<body lang='{{ .Site.Language.Lang | default "en-us" }}' class="is-preload">

		{{- $postsPageSize := .Site.Params.Posts.pagesize | default 6 -}}

		{{- .Scratch.Set "postsFeaturedPostEnabled" true -}}
		{{- if (or (eq .Site.Params.Posts.featuredpost "false") (eq .Site.Params.Posts.featuredpost false)) -}}
			{{- .Scratch.Set "postsFeaturedPostEnabled" false -}}
		{{- end -}}
		{{- $postsFeaturedPostEnabled := .Scratch.Get "postsFeaturedPostEnabled" -}}

		{{- $posts := where .Pages "Params.private" "ne" true  -}}

		{{- $firstPost := first 1 $posts -}}

		{{- if and (eq $postsFeaturedPostEnabled true) (gt (len $posts) 1) -}}
			{{- .Scratch.Set "postsForPaging" (after 1 $posts) -}}
		{{- else -}}
			{{- .Scratch.Set "postsForPaging" $posts -}}
		{{- end -}}
		{{- $postsForPaging := .Scratch.Get "postsForPaging" -}}

		{{- $postsPaging := .Paginate $postsForPaging $postsPageSize -}}


			<div id="wrapper" data-ps="{{ $postsPageSize }}" data-pfp="{{ $postsFeaturedPostEnabled }}">
			    <div class="bg fixed"></div>

    			{{- partial "header" . -}}
				{{- partial "nav" . -}}

					<div id="main">
					    {{ .Content }}

						{{- if and (eq $postsFeaturedPostEnabled true) (eq .Paginator.PageNumber 1) -}}
						{{- partial "gallerys/featured.html" (dict "firstpost" $firstPost "siteData" (index .Site.Data .Site.Language.Lang)) -}}
						{{- end -}}

						{{- if (not (and (eq (len $posts) 1) (eq $postsFeaturedPostEnabled true))) -}}
							{{- partial "gallerys/list.html" (dict "posts" $postsPaging "siteData" (index .Site.Data .Site.Language.Lang)) -}}
						{{- end -}}

						{{- $paginator := .Paginator -}}
						{{- $outer := . -}}
						{{- partial "posts/pagination.html" (dict "paginator" $paginator "outer" $outer) }}
					</div>

                    {{- partial "footer/index" . -}}
                    {{- partial "copyright" . -}}

            </div>
            {{- partial "scripts/index" . -}}
	</body>
</html>