{{- partial "htmlhead.html" . -}}
	<body lang='{{ .Site.Language.Lang | default "en-us" }}' class="is-preload">

		{{- $postsPageSize := .Site.Params.Posts.pagesize | default 6 -}}

			<div id="wrapper" data-ps="{{ $postsPageSize }}" data-pfp="false">
			    <div class="bg fixed"></div>

    			{{- partial "header" . -}}
				{{- partial "nav" . -}}

				<div id="main">
					<section class="page">
						<a onclick="photoNav.goBack('{{ .Parent.RelPermalink }}')" class="button" id="galleryBackBtn">back to gallery</a>
						<header class="major">
                            <h1>{{ .Title }}</h1>
                            <p>{{ .Description }}</p>
                        </header>
						{{ .Content }}
						{{- $pages := .Pages.ByDate -}}
						{{- $pagedImages := .Paginate $pages $postsPageSize -}}
						{{ partial "gallerys/photoset-grid.html" (dict "Page" $ "Photosubset" $pagedImages.Pages) }}
					</section>
					{{- $paginator := .Paginator -}}
					{{- $outer := . -}}
					{{- partial "posts/pagination.html" (dict "paginator" $paginator "outer" $outer) }}
				</div>
				{{- partial "footer/index" . -}}
				{{- partial "copyright" . -}}
            </div>
            {{- partial "scripts/index" . -}}
	</body>
</html>
