#wrapper {
    >.bg {
        background-image: url("../../images/overlay.png"), linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/background_2300.jpg");
        transform: none;
    }
  }