{{- partial "htmlhead" . -}}
	<body lang='{{- .Site.Language.Lang | default "en-us" -}}' class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
			    <div class="bg fixed"></div>

    			{{- partial "header" . -}}
				{{- partial "nav" . -}}

				<!-- Main -->
					<div id="main">
						{{- range $key := (slice "tags" "continents" "countries" "regions" "cities") -}}
						{{- $taxonomy := index $.Site.Taxonomies $key -}}
						{{- if ne (len $taxonomy) 0 -}}
                        <h2 id="{{ $key }}">{{ $key }}</h2>
							<ul class = "terms">
								{{- range $taxonomy.ByCount -}}
								<li>
									<a class="button primary tag" href="{{ (path.Join .Page.RelPermalink) | relLangURL }}">{{ .Page.Title | .Page.RenderString }}</a>
									<span class="button count">{{ .Count }}</span>
								</li>
								{{- end -}}
							</ul>
						{{- end -}}
					{{- end -}}
					</div>

                    {{- partial "footer/index" . -}}
                    {{- partial "copyright" . -}}

            </div>
            {{- partial "scripts/index" . -}}
	</body>
</html>
