{{- partial "htmlhead.html" . -}}
	<body lang='{{- .Site.Language.Lang | default "en-us" -}}' class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
			    <div class="bg fixed"></div>

    			{{- partial "header" . -}}
				{{- partial "nav" . -}}

				<!-- Main -->
					<div id="main">
						{{- range $key := (slice "cameras" "lenses" "emulsions") -}}
							{{- $taxonomy := index $.Site.Taxonomies $key -}}
							{{- $filteredTaxonomy := partial "filter-private-taxonomy.html" $taxonomy -}}
							{{- if ne (len $filteredTaxonomy) 0 -}}
								<h2 id="{{ $key }}">{{ $key }}</h2>
								<ul class = "terms">
									{{- range sort $filteredTaxonomy "Count" "desc" -}}
									<li>
										<a class="button primary tag" href="{{ (path.Join .Page.RelPermalink) | relLangURL }}">
											<span class="tag-text">{{ .Page.Title | .Page.RenderString }}</span>
											<span class="button count">{{ .Count }}</span>
										</a>
									</li>
									{{- end -}}
								</ul>
					{{- end -}}
				{{- end -}}

				<h2 id="tags">Tags</h2>
				{{- $taxonomy := index $.Site.Taxonomies "tags" -}}
				{{- $filteredTaxonomy := partial "filter-private-taxonomy.html" $taxonomy -}}
				{{- $sortedTags := sort $filteredTaxonomy "Page.Title" -}}
				{{- $currentLetter := "" -}}
				{{- $etcTags := slice -}}
				{{- range $sortedTags -}}
					{{- $firstLetter := upper (substr .Page.Title 0 1) -}}
					{{- $isAlpha := and (ge $firstLetter "A") (le $firstLetter "Z") -}}
					{{- if $isAlpha -}}
						{{- if ne $firstLetter $currentLetter -}}
							{{- if ne $currentLetter "" -}}
								</ul>
							{{- end -}}
							<h3 class="tags" id="tag-{{ $firstLetter }}">{{ $firstLetter }}</h3>
							<ul class = "terms">
							{{- $currentLetter = $firstLetter -}}
						{{- end -}}
						<li>
							<a class="button primary tag" href="{{ (path.Join .Page.RelPermalink) | relLangURL }}">
								<span class="tag-text">{{ .Page.Title | .Page.RenderString }}</span>
								<span class="button count">{{ .Count }}</span>
							</a>
						</li>
					{{- else -}}
						{{- $etcTags = $etcTags | append . -}}
					{{- end -}}
				{{- end -}}
				{{- if ne $currentLetter "" -}}
					</ul>
				{{- end -}}
			{{- if gt (len $etcTags) 0 -}}
				<h2 id="tag-etc">etc</h2>
				<ul class = "terms">
					{{- range sort $etcTags "Page.Title" -}}
						<li>
							<a class="button primary tag" href="{{ (path.Join .Page.RelPermalink) | relLangURL }}">
								<span class="tag-text">{{ .Page.Title | .Page.RenderString }}</span>
								<span class="button count">{{ .Count }}</span>
							</a>
						</li>
						{{- end -}}
					</ul>
				{{- end -}}
			</div>                    
			{{- partial "footer/index" . -}}
			{{- partial "copyright" . -}}

            </div>
            {{- partial "scripts/index" . -}}
	</body>
</html>
