{{- partial "htmlhead.html" . -}}
	<body lang='{{ .Site.Language.Lang | default "en-us" }}' class="is-preload">

		{{- $postsPageSize := .Site.Params.Posts.pagesize | default 6 -}}

			<div id="wrapper" data-ps="{{ $postsPageSize }}" data-pfp="false">
			    <div class="bg fixed"></div>

    			{{- partial "header" . -}}
				{{- partial "nav" . -}}

				<div id="main">
                    <section class="page">
						<a href="/{{ .Data.Plural }}/" class="button", id="galleryBackBtn">back to {{ .Data.Plural }}</a>
						<header class="major">
                            <h1>{{ .Title }}</h1>
							{{ .Content }}
							<p class="term-count">{{ len .Pages }} {{ if eq (len .Pages) 1 }}photo{{ else }}photos{{ end }}</p>
                        </header>

						{{- if .Pages }}
						{{- $pagedImages := .Paginate .Pages $postsPageSize -}}
						{{ partial "gallerys/photoset-grid.html" (dict "Page" $ "Photosubset" $pagedImages.Pages) }}
						{{- end }}

					</section>

						{{- $paginator := .Paginator -}}
						{{- $outer := . -}}
						{{- partial "posts/pagination.html" (dict "paginator" $paginator "outer" $outer) }}

					</div>

                    {{- partial "footer/index" . -}}
                    {{- partial "copyright" . -}}

            </div>
            {{- partial "scripts/index" . -}}
	</body>
</html>
