        <meta name="keywords" content="{{ .Site.Params.meta.keywords }}" />
        <meta name="description" content="{{ .Site.Params.meta.description }}" />
        <meta name="robots" content="{{ .Site.Params.meta.robots }}" />
        <meta name="googlebot" content="{{ .Site.Params.meta.googlebot }}" />

        {{ if .Params.nanog }}
		<link rel="stylesheet" href='{{ "assets/css/nanogallery2.min.css" | relURL }}' />
 		<link rel="stylesheet" href='{{ "assets/css/nanogallery2.woff.min.css" | relURL }}' />
 		{{ end }}

        <!-- override theme CSS -->
		{{ if .Site.IsServer }}
		{{ $style := resources.Get "custom/scss/main.scss" | resources.ExecuteAsTemplate "main.scss" . | toCSS (dict "targetPath" "assets/custom/css/main.css" "enableSourceMap" true) }}
		<link rel="stylesheet" href="{{ ($style).RelPermalink }}">
		{{ else }}
		{{ $style := resources.Get "custom/scss/main.scss" | resources.ExecuteAsTemplate "main.scss" . | toCSS (dict "targetPath" "assets/custom/css/main.css" "enableSourceMap" false) }}
		<link rel="stylesheet" href="{{ ($style | minify).RelPermalink }}">
		{{ end }}

        {{ partial "bg" . }}
		{{ template "_internal/google_analytics.html" . }}
        <meta name="google-site-verification" content="{{ .Site.Params.meta.googlesiteverification }}" />
		{{ template "partials/opengraph.html" . }}
		{{ template "partials/twitter_cards.html" . }}
		<link rel="me" href="https://mastodon.social/@jonkeane" />

		<!-- TODO: Ideally, these go at the end of the page -->
		{{ if .Params.nanog }}
		<script src='{{ "assets/js/nanogallery2/jquery.nanogallery2.min.js" | relURL }}'></script>
		{{ end }}
