/* Override some bootstrap Carousel controls */
.carousel-control-next-icon {
    margin-left: 50%;
}
.carousel-control-prev-icon {
    margin-right: 50%;
}
.carousel-indicators {
    margin-bottom: 0;
}
