/* wide button */
.fullwidth {
	margin: 2rem auto;
	width: 100%;
	font-weight: 900;
    font-size: 2.25rem;
    padding: 1rem;
    line-height: 1;
    height: auto;
    white-space: normal;
}

p {
    line-height: 1.5;
}
