{{- $p := .Photo -}}
<div class="meta-row">
  <div class="exposure-meta">
    <ul>
    {{ if $p.exif.exposure }}<li id="exposure">{{ $p.exif.exposure }} <small>sec</small></li>{{ end }}
    {{ if $p.exif.fstop }}<li id="fstop">{{ $p.exif.fstop }}</li>{{ end }}
    {{ if $p.exif.iso }}<li id="iso">{{ $p.exif.iso }} iso</li>{{ end }}
    </ul>
  </div>
  <div class="camera-meta">
    <ul>
    {{ if $p.exif.model }}<li>{{ $p.exif.model }}</li>{{ end }}
    {{ if $p.exif.lens }}<li>{{ $p.exif.lens }}</li>{{ end }}
    </ul>
  </div>
</div>