<nav class="photo-nav">
  <ul class="pagination">
    <li class="prev-item">
    {{- with .PrevInSection }}
      <a href="{{ .RelPermalink }}" data-photo-nav="photo" class="previous"
        rel="prev">Previous</a>
    {{- end }}
    </li>
  <li class="back-item"><a href="{{ .Parent.RelPermalink }}" data-photo-nav="back" class="backToGallery">back</a></li>
    <li class="next-item">
    {{- with .NextInSection }}
      <a href="{{ .RelPermalink }}" data-photo-nav="photo" class="next" rel="next">Next</a>
    {{- end }}
    </li>
  </ul>
</nav>
