{{- $ctx := partial "photo/page-context" . -}}
{{- $pages := $ctx.pages -}}
{{- $idx := $ctx.index -}}

{{- if ge $idx 0 -}}
<div class="photostrip">
  <div class="photostrip-container">
    {{- $startIdx := sub $idx 6 -}}
    {{- if lt $startIdx 0 }}{{ $startIdx = 0 }}{{ end -}}
    
    {{- $endIdx := add $idx 6 -}}
    {{- if gt $endIdx (len $pages) }}{{ $endIdx = len $pages }}{{ end }}
    <div class="photostrip-next">
      {{- range seq $endIdx (add $idx 1) -}}
        {{- if lt . (len $pages) -}}
          {{- $p := index $pages . -}}
          {{- $alt := or $p.Params.title (printf "Photo %s" $p.Params.photo_id) }}
          <a href="{{ $p.RelPermalink }}" data-photo-nav="photo" class="photostrip-thumb">
            <img src="{{ $p.Params.image_thumbnail }}" alt="{{ $alt }}"
              loading="lazy" crossorigin="anonymous" />
          </a>
        {{- end -}}
      {{- end }}
    </div>
    <div class="photostrip-current">
      {{- $p := index $pages $idx -}}
      {{- $alt := or $p.Params.title (printf "Photo %s" $p.Params.photo_id) }}
      <div class="photostrip-thumb current" aria-current="page">
        <img src="{{ $p.Params.image_thumbnail }}" alt="{{ $alt }}"
          loading="lazy" crossorigin="anonymous" />
      </div>
    </div>
    <div class="photostrip-prev">
      {{- if gt $idx 0 -}}
        {{- range seq (sub $idx 1) $startIdx -}}
          {{- if and (ge . 0) (lt . (len $pages)) -}}
            {{- $p := index $pages . -}}
            {{- $alt := or $p.Params.title (printf "Photo %s" $p.Params.photo_id) }}
            <a href="{{ $p.RelPermalink }}" data-photo-nav="photo" class="photostrip-thumb">
              <img src="{{ $p.Params.image_thumbnail }}" alt="{{ $alt }}"
                loading="lazy" crossorigin="anonymous" />
            </a>
          {{- end -}}
        {{- end -}}
      {{- end -}}
    </div>
  </div>
</div>
{{- end -}}
