{{- /* Prefetch next/prev pages and images for instant navigation */ -}}
{{- with .NextInSection -}}
<link rel="prefetch" href="{{ .RelPermalink }}" />
{{- $nextUrl := .Params.image_original -}}
{{- if $nextUrl }}
<link rel="prefetch" href="{{ $nextUrl }}" as="image" />
{{- end -}}
{{- end -}}

{{- with .PrevInSection -}}
<link rel="prefetch" href="{{ .RelPermalink }}" />
{{- $prevUrl := .Params.image_original -}}
{{- if $prevUrl }}
<link rel="prefetch" href="{{ $prevUrl }}" as="image" />
{{- end -}}
{{- end -}}
