{{- /* All photo data is available directly in .Params from _content.gotmpl */ -}}
{{- $fid := .Params.flickr_id | string -}}
{{- $alt := or .Params.description._content .Params.title (printf "Photo %s" $fid) -}}
<section class="page" id="photo-single">
  {{ partial "photo/nav" . }}
  {{- /* 5k, 4k, 3k aren't being fetched right now, but could be */ -}}
  {{- $url := or .Params.url_5k .Params.url_4k .Params.url_3k .Params.url_k .Params.url_h .Params.url_b .Params.url_c .Params.url_z -}}
  {{- $alt := or .Params.description._content .Params.title (printf "Photo %s" $fid) }}
  <figure>
    <img src="{{ $url }}" alt="{{ $alt }}" loading="eager"/>
  </figure>
  {{ partial "photo/exif" (dict "Photo" .Params) }}
  <div class="photo-drawer" id="details">
    <a href="#details" class="drawer-toggle open">details</a>
    {{- if .Params.tags }}
      <div id="terms" class="flex flex-row flex-wrap items-center">
        {{ range $tag := .Params.tags }}
          <span><a class="button primary tag" href="/tags/{{ $tag | urlize }}">{{ $tag }}</a></span>
        {{ end }}
      </div>
    {{- end }}
    <header class="major">
      <h1>{{ or .Title .Params.title }}</h1>
    </header>
    {{- if .Params.exif.preservedfilename }}
    <div class="preserved-filename">
      <small>{{ .Params.exif.preservedfilename }}</small>
    </div>
    {{- end }}
    {{- if .Params.description._content }}
    <div class="description">
      {{ .Params.description._content | safeHTML }}
    </div>
    {{- end }}
  </div>
  {{ partial "photo/photostrip" . }}
  {{ partial "photo/prefetch" . }}
</section>
